name: deploy
on: [push]

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: gh-pages
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '14'
      - run: yarn
      - run: yarn run build
        env:
          VUE_APP_BACKEND_URL: ${{ vars.VUE_APP_BACKEND_URL }}
      - uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./dist
          cname: scrumpoker.michal-grabowski.com
